* { box-sizing: border-box; }

body {
    background: url('../img/background.jpg') no-repeat center center fixed #3f2e3f;
    text-align: center; background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;
}

#logo {
    margin: 1em auto auto auto; overflow: auto; position: relative;
}

/* layout */
.top-container { padding: 0; }

#content {
  background-color: #222; margin: 0 auto;
  padding: 0;
}

a { color: #facade; }
a:hover { color: #FFF; text-decoration: none; }
a:visited { color: #dabbed; text-decoration: none; }

/* navigation */
.tabs {
    list-style: none; margin: 0 auto; padding: 0;
}

.tabs a {
    font-size: 1.5em; background-color: #333; cursor: pointer; padding: 0.5em;
    text-decoration: none;
}

.tabs a:hover { background-color: #444; }
.tabs a.selected-true { background-color: #444; }

/* page body */
.pages { padding: 1em; color: #DEDEDE; }
.pages img { padding-left: 0; }

h1 {
    color: #DEDEDE; text-decoration: none;
    font-size: 2em; font-weight: 400; margin: 0; padding: 0;
}

/* about */
.info { background-color: #333; padding: 1em; margin-bottom: 0em; }
.media { display: block; list-style: none; padding: 0; margin: 0; }
.media li a { font-size: 1em; }

/* radfolx */
.radfolx { text-align: center; }
.radfolx img { max-width: 150px; }
.radfolx a { font-size: 1.5em; }

/* portfolio */
.portfolio { margin: 1em 0em 0em 0em; padding: 0; }
.portfolio img { padding-right: 0; }
.portfolio .col-xs-12, .portfolio .col-sm-7 { text-align: left; margin-left: 0; padding: 0; }
.portfolio .row { margin-bottom: 1em; background-color: #333; }
.entry_title { font-size: 1.5em; }
.pad { padding: 1em; }
